.burger-menu {
  visibility: hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
  opacity: 0;
}

.burger-menu_active {
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.burger-menu__sidebar {
  max-width: 520px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  margin: auto;
  padding: 159px 90px 90px;
  transform: translate(100%);
  transition: 0.3s ease;
}

.burger-menu__sidebar_active {
  transform: translate(0);
  width: 100%;
  height: 100%;
}

.burger-menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 28px;
}

.burger-menu__link_active {
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
}

.burger-menu__profile-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 20px;
  background-color: #313131;
  border-radius: 20px;
  margin-bottom: 0;
}

.burger-menu__button-close {
  background-image: url("../../../images/burger-icon-close.svg");
  background-position: center;
  background-color: transparent;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 22.44px;
  right: 22.44px;
}

@media (max-width: 568px) {
  .burger-menu__sidebar {
    padding: 144px 10px 46px;
    min-width: 100vw;
  }

  .burger-menu__link {
    margin-bottom: 24px;
  }

  .burger-menu__link_active {
    padding-bottom: 7px;
  }

  .burger-menu__button {
    width: 40px;
    height: 44px;
  }

  .burger-menu__button_type_close {
    top: 13.44px;
    right: 13.44px;
  }
}
