.auth {
  max-width: 396px;
  margin: 0 auto;
  padding: 70px 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 504px;
}

.auth-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.auth-form__title {
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 40px 0 40px;
}

.auth-form__label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 20px;
}

.auth-form__input {
  margin: 10px 0 0;
  padding: 15px;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  background-color: #2f2f2f;
  border-radius: 8px;
  color: #fff;
  outline: none;
}

.auth-form__input:focus {
  border-bottom: 1px solid #fff;
}

.auth-form__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  margin-top: 10px;
}

.auth-form__message {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.auth-form__button {
  margin-bottom: 16px;
  background-color: #4285f4;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  min-height: 45px;
}

.auth__redirect {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  text-align: center;
}

.auth__redirect-link {
  padding: 0;
  color: #4285f4 !important;
  margin-left: 6px;
}

@media (max-width: 768px) {
  .auth {
    padding: 232px 0;
  }
}

@media (max-width: 568px) {
  .auth {
    min-width: 320px;
    padding: 56px 30px 30px;
  }

  .auth__logo-container {
    display: flex;
    justify-content: center;
  }

  .auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 641px;
  }

  .auth-form__title {
    text-align: center;
    padding: 50px 0 80px;
  }

  .auth-form__button {
    margin-bottom: 14px;

    font-size: 12px;
    line-height: 15px;
  }

  .auth__redirect {
    font-size: 12px;
    line-height: 15px;
  }

  .auth__redirect-link {
    margin-left: 7px;
  }
}
