.techs {
  display: flex;
  flex-direction: column;
  padding: 100px 70px;
  background-color: #272727;
}
.techs__title {
  margin: 90px auto 13px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 600px;
}
.techs__description {
  margin: 13px auto 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
}

.tech-stack {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(84px, 90px));
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.tech-stack__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  background-color: #303030;
  border-radius: 10px;
  padding: 21px 0 22px;
}
