.movie-card {
  border-radius: 10px;
  background-color: #222;
  display: flex;
  flex-direction: column;
}

.movie-card__image {
  width: 100%;
  height: 151px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.movie-card_container {
  display: flex;
  justify-content: space-between;
  margin: 14px 12px;
}

.movie-card__info {
  display: flex;
  flex-direction: column;
}

.movie-card__title {
  margin: 0 0 5px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  max-width: 206px;
}

.movie-card__duration {
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8b8b8b;
}

.movie-card__save-button {
  height: 16px;
  min-width: 16px;
  background-color: transparent;
  border-radius: 50%;
  background-image: url("../../../images/movie-save-button.svg");
  background-repeat: no-repeat;
}

.movie-card__save-button_active {
  background-color: #2be080;
}

.movie-card__delete-button {
  height: 16px;
  width: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../../../images/movie-close-button.svg");
}

@media (max-width: 768px) {
  .movie-card__image {
    height: 190px;
  }
}

@media (max-width: 480px) {
  .movie-card__image {
    height: 168px;
  }
}
