.search {
  padding: 80px 70px 9px;
}

.search__form {
  padding: 0 0 39px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #424242;
}

.search__fieldset {
  display: flex;
  padding: 0;
  margin: 0 0 28px;
  border: none;
}

.search__input {
  max-width: 1086px;
  width: 100%;
  padding: 16px 20px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #8b8b8b;
  background-color: #2f2f2f;
  border-radius: 8px;
}

.search__button {
  margin: 3px 0 3px 10px;
  min-width: 44px;
  min-height: 44px;
  border-radius: 5px;
  background-color: #4285f4;
  background-image: url("../../../images/search-button.svg");
}

@media (max-width: 768px) {
  .search {
    padding: 80px 30px 10px;
  }

  .search__fieldset {
    display: flex;
    padding: 0;
    margin: 0 0 40px;
    border: none;
  }

  .search__input {
    padding: 16px 16px;
  }
}

@media (max-width: 480px) {
  .search {
    padding: 80px 14px 10px;
  }

  .search__fieldset {
    margin: 0 0 46px;
  }

  .search__input {
    padding: 13px;
  }
}
