.student {
  display: flex;
  justify-content: space-between;
  padding: 66px 0 100px;
}

.student__info {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.student__name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.student__profession {
  margin: 18px 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.student__bio {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.links__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.links__item {
  margin-right: 20px;
}

.links__item:last-child {
  margin-right: 0;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #fff;
}

.student__photo {
  border-radius: 10px;
  width: 270px;
  height: 327px;
  object-fit: cover;
}
